.main__body__messages
  .main__message{"": ""}
    .main__message__name
      TOKYO
    .main__message__date
      2018/05/14 20:40:20
    .main__message__body
      結果にコミット
      %img.main__message__body__image{src: ""}/
  .main__message{"": ""}
    .main__message__name
      TOKYO
    .main__message__date
      2018/05/14 20:40:20
    .main__message__body
      Gitにコミット
      %img.main__message__body__image{src: ""}/
