.sub__groups__list
  =link_to "" do
    .sub__group
      .sub__group__name
        group2
      .sub__group__message
        まだメッセージがありません
  =link_to "" do
    .sub__group
      .sub__group__name
        group1
      .sub__group__message
        結果にコミット
