// color
$white: #FFFFFF;
$skyblue: #38AEF0;
$black: #000;
$gray: #434A54;
$navy: #253141;
$ligth_gray: #999;
$alert_orange: #F35500;
$blue_gray: #2f3e51;
// font
$side_header_name: 16px;
$sub_group_name: 15px;
$sub_group_message: 11px;
